html, body {
  width: 100%; }

button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

.notice_nav {
  width: 100%;
  height: 400px;
  position: relative; }

.notice_nav > img {
  width: 100%;
  height: 400px; }

.notice_nav > div {
  width: 750px;
  height: 40px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -375px; }

.notice_nav h1:first-child {
  margin-left: 0; }

.notice_nav h1 {
  width: 85px;
  height: 40px;
  font-size: 22px;
  color: #fff;
  float: left;
  margin-left: 130px;
  cursor: pointer; }

.underline {
  width: 90px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0 0 -5px;
  display: none; }

.contents {
  width: 1500px;
  margin: auto;
  margin-top: 70px;
  position: relative; }

.contents > h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500; }

.horizon1 {
  width: 100%;
  height: 3px;
  background-color: #555;
  margin-top: 10px; }

.left_head {
  width: 500px;
  height: 140px;
  float: left;
  margin: 20px 0 0 20px; }

.left_head > img {
  float: left; }

.left_head > p {
  margin-left: 50px; }

.left_head > p > span {
  font-size: 22px;
  font-weight: bold; }

.right_head {
  width: 500px;
  height: 140px;
  float: right;
  margin: 20px 0 0 20px;
  font-size: 18px;
  line-height: 22px; }

.right_head > h4 {
  text-align: center; }

.account1 {
  width: 50%;
  height: 100%;
  float: left;
  margin-top: 20px; }

.account1 > p {
  text-align: center; }

.account2 {
  width: 50%;
  height: 100%;
  float: right;
  margin-top: 20px; }

.account2 > p {
  text-align: center; }

.horizon2 {
  width: 100%;
  height: 1px;
  margin-top: 145px;
  background-color: #555; }

table {
  width: 1500px;
  margin-top: 70px;
  border-collapse: collapse; }

tr:first-child {
  background-color: #a19385; }

tr:nth-child(2) {
  background-color: #f5f6fa; }

tr:nth-child(3) {
  background-color: #f5f6fa; }

tr:nth-child(4) {
  background-color: #f5f6fa; }

tr:nth-child(5) {
  background-color: #f5f6fa; }

tr:first-child > td {
  color: #fff;
  text-align: center; }

tr:first-child > td {
  color: #fff;
  text-align: center; }

td:nth-child(1) {
  text-align: center; width: 70px; height: 50px; }

td:nth-child(2) {
  text-indent: 10px;
  width: 1100px;
  height: 50px; }

td:nth-child(3) {
  text-indent: 10px; width: 100px; height: 50px; }

td:nth-child(4) {
  text-align: center; width: 180px; height: 50px; }

td:nth-child(5) {
  text-align: center; width: 80px; height: 50px; }

td {
  border: 1px solid #aaa; }

td > p {
  cursor: pointer; }

.contents > button {
  position: absolute;
  right: 0;
  margin-top: 20px;
  background-color: #5a6b47;
  color: #fff;
  padding: 3px 10px;
  border: 1px solid #bdbdbd; }

.page {
  width: 175px;
  height: 30px;
  margin: auto;
  margin-top: 100px; }

.page > button:first-child {
  margin: 0;
  color: #fff;
  background-color: #5a6b47; }

.page > button {
  float: left;
  margin-left: 10px;
  padding: 3px 10px;
  border: 1px solid #bdbdbd; }

.search {
  width: 320px;
  height: 30px;
  margin: auto;
  margin-top: 20px; }

.search select {
  width: 130px;
  height: 26px;
  border: 1px solid #bdbdbd; }

.search input {
  width: 130px;
  height: 30px;
  border: 1px solid #bdbdbd;
  background-color: #eaeaea; }

.search input:last-child {
  width: 50px;
  height: 32px;
  border: 1px solid #bdbdbd;
  background-color: #a0a38e;
  cursor: pointer; }

/*# sourceMappingURL=question.css.map */
