@charset "UTF-8";

	/* 헤더 CSS */
	header {
		
		height: 400px;
	}
		.pinkBar {			
			height : 50px;
			line-height: 50px;
			background-color : #ffe0e0;
		}
			.topNav {
				position: relative;
				top: 10px;
				width: 800px;
				height: 30px;
				margin: 0 auto;
			}
				.topMenu {
					display: inline-block;
					width: 397px;
					height: 25px;
					padding-left: 180px;
				}
					.basicMenu {
						float: left;
						width: 82px;
						height: 15px;
						line-height: 15px;
						font-size: 13px;
						margin-top: 3px;
						margin-right: 10px;
						padding-right: 10px;
						border-right: 1px solid #515151;
					}			
						.basicMenu a {
							display:block;
							width: 100%;
							color: #515151;
							text-align: center;
						}
					.topMenu .InfoFind {
						width:89px;
						border: 0;
						
					}						
					.cartButton {
						height: 25px; 					
						border-radius: 5px;
						background-color: #ffa2a2;
						color: white;
						font-weight: bold;
						text-align: center;
						line-height: 25px;
						border: 0;
						margin-top: -2px;
						margin-right: 0;
						padding-right: 0;
					}
					/*a 태그 폰트색상 버그현상 장바구니*/
					.cartButton a:link    {color: #fff; }
					.cartButton a:visited {color: #fff; }
					.cartButton a:hover   {color: #fff; }
					.cartButton a:active  {color: #fff; }
				
				.searchBox {
					position: absolute;
					top: 0;
					right: 0;
					width: 210px;
					height: 30px;
					line-height: 30px;
				}
					
					.searchBar {
						width: 170px;
						background-color: #ffe0e0;
						border: 0px;
						border-bottom: 2px solid #ffa2a2;
					}
					.searchButton {
						width: 30px;
						border: 0px;
						outline: 0px;
						background-color: #ffe0e0;
						color: #ffa2a2;
						cursor: pointer;
					}			
					
		.coqueLogo {
			width: 170px;
			height: 170px;

			background-color: white;
			background-size: 170px 170px;
			background-image: url("../../images/coqueLogoImg.jpg");

			position: absolute;
			left: 50%;

			margin-left: -85px;

		}
			.coqueLogo a {
				width: 170px;
				height: 170px;

				display: inline-block;
			}
		.bottomNav {
			width: 1580px;
			height: 325px;

			background-image: url("../../images/bottomNavBackground.png");
			background-size: 1580px;
			background-repeat: no-repeat;
			
			position: absolute;
			top: 230px;
			left: 50%;
			margin-left: -790px;
		}
			.bottomMenu {
				width: 825px;
				height: 30px;				
				display: inline-block;
				margin-top: 55px;
				margin-left:377px;
				
			}
				.mainMenu {
					width: 161px;
					height: 30px;
					display: inline-block;
					margin-right:5px;					
					color: white;
					font-size: 20px;
					font-weight: 900;
					float: left;
					text-align: center;
					line-height: 28px;
					
				}
					span.currentPageCategoryColor{
						color:#f94769;
					}
				.lastMenu {
					margin-right:0px;
					
				}
					/*a 태그 폰트색상 버그현상 메인메뉴*/
					.mainMenu a:link    {color: #fff; }
					.mainMenu a:visited {color: #fff; }
					.mainMenu a:hover   {color: #fff; }
					.mainMenu a:active  {color: #fff; }
					
					.subMenu:not(subMenu_5){
						width: 161px;
						height: 120px;
						padding : 30px 5px 0px 0px;
						display : none;	
						line-height:40px;						
						
					}
						subMenu_5 {
							width: 161px;
							height: 120px;
							padding : 30px 0px 0px 0px;	
							display : none;
							line-height:40px;	
						}
						.subMenu a{
						font-size:15px;
						font-weight:bold;						
						}
						/*a 태그 폰트색상 버그현상 서브메뉴*/
						.subMenu a:link    {color: #982323; }
						.subMenu a:visited {color: #982323; }
						.subMenu a:hover   {color: #982323; }
						.subMenu a:active  {color: #982323; }
	/* 팝업 백그라운드 설정 */
	.popUpBackground { 
		width : 100%;
		height : 100%;
		position:fixed;
		background-color: rgba( 0, 0, 0, 0.7 );
		z-index:100;
		display : none;
	}
/*이벤트 게시판 공간의 박스*/
section.eventPageBaseBox{
	position:relative;
	width:1000px;
	height:1300px;
	/*background-color:green;*/	
	margin:auto;
}
	/*부제목 이벤트 */
	h1.eventPageTitle{
		width:1000px;
		height:50px;
		font-size:35px;
		line-height:48px;
		font-weight:bold;
		border-bottom:5px solid #c0c0c0;
		margin-top:150px;
	}
	/*게시글 nav로 보고 박스로 쌈*/
	nav.eventPageBottomBorderLine{
		width:1000px;
		height:950px;
		border-bottom:2px solid #c0c0c0;
		/*background-color:red;*/
	}	
		/*공통된 한 게시물이 들어갈 공간박스 position:absolute 시킴*/
		li.eventBoxBaseValue{
			position:absolute;
			width:300px;
			height:380px;
			
			/*background-color:gold;*/
		}
			/*공통된 이미지 사이즈 규격화 , 커서 포인트적용*/
			img.eventImageSize{
				width:300px;
				height:288.64px;
				padding-bottom:10px;
				cursor:pointer;
			}
			/*공통된 게시글 제목 a태그 속성*/
			a.eventPage_aTagFontBaseValue{
				font-size:25px;
				font-weight:bold;
			}
			/*하단 추가 설명 글 기입란 paragraph 태그속성값*/
			p.eventPage_pTagFontBaseValue{
				font-size:16px;
				margin-top:10px;
			}
		/*게시글 position 위치 설정값*/
		li.hashEventPosition{
			top:120px;
			left:0px;
		}
		li.kakaoEventPosition{
			top:120px;
			left:350px;
		}
		li.originalEventPosition{
			top:120px;
			right:0px;
		}
		li.whitedayEventPosition{
			top:570px;
			left:0px;
		}
		li.valentineEventPosition{
			top:570px;
			left:350px;
		}
		li.cardEventPosition{
			top:570px;
			right:0px;
		}
/*박가현씨가 만든 하단 페이지 넘김바 속성값은 최재춘 수정함*/
nav.pageNumberNav{
	//background-color : red;
	width:345px;
	height:52px;
	position:absolute;
	bottom:180px;
	left:50%;
	margin-left:-172.5px;
	
}	
	div.pageNavBox{
		font-size : 20px;
		//background-color : green;
	}
		button.leftButtonIcon {
			display : inline-block;
			border : 0px;
			background-color : white;
			cursor : pointer;
			line-height : 48px;
			text-align : center;
		}
		ol.pageNumber {
			display : inline-block;
		}
			li.pageButtonIcon {
				display : inline-block;
				width : 50px;
				height : 50px;
				cursor : pointer;
				line-height : 50px;
				text-align : center;
			}
			li.clickedPageButtonDisign {
				background-color : #ffb0b0;
				color : white;	
				border-radius : 25px;
			}
		button.rightButtonIcon {
			display : inline-block;
			line-height : 48px;
			text-align : center;	
			border : 0px;
			cursor : pointer;
			background-color : white;
		}	

	/* 풋터 CSS */
	.footerBox {
		width: 1000px;
		height: 220px;

		margin: auto;

		background-color: #ffe0e0;
	}
		.footerContentsBox {
			width: 900px;
			height: 100px;
			padding-top: 30px;
			margin-left: 50px;

		}
			.coqueAddress {
				display: inline-block;			
				font-style: normal;
				font-size:12px;
				line-height: 23px;		
				color: #838383;

			}
			.clientBox {				
				display: inline-block;
				float:right;
				font-weight:bold;
				line-height: 26px;		
				color: #838383;				

			}
				.telSpan {
					font-size: 30px;
					color: #ff7d7d;
					font-weight: bold;
				}
				.discSpan {
					font-weight:900;
					font-size: 18px;
					color: #838383;
				}
			.snsBox {
				margin-top: 15px;
			}
				.sns {
				
				}
	
					.snsList {
						width: 40px;
						height: 40px;
				
						color: white;
						text-align: center;
						line-height: 53px;
						border-radius: 20px;
						display: inline-block;
						background-color: #ffa2a2;
					}
		