footer {
    width: 100%;
    height: 160px;

    background-color: #9e8e79;
    margin-top: 100px;
}
    .footerText, .footerText>a {
        width: 100%;
        height: 100px;

        font-size: 15px;
        
        color: #ffffff;
        text-align: center;
    }
    .footerStrong {
        color: #ffffff;
        font-size: 20px;
        line-height: 50px;

    }
    .topButton {
        display: block;
        width: 100px;
        height: 50px;

        margin: auto;
        font-size: 20px;
        line-height: 48px;
        text-align: center;

        color: #3f3222;
    }
