@mixin contentsImgORMap {
    display: inline-block;
                
    /* 1930 1080 */
    width: 500px;
    height: 300px;

    float: left;
}
@mixin aboutBackground {
    width: 100%;

    position: fixed;
    z-index: 0;
}


/* fixed image */
.backgroundImg {
    @include aboutBackground;
}
/* fixed image overlay */
.overlay {
    @include aboutBackground;
    
    height: 1800px;
    background-color: rgba(0, 0, 0, 0.5);
}

.sectionBox {
    width: 1910px;

    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -955px;
    z-index: 10;
    
    .mainText {
        width: 500px;
        height: 50px;

        line-height: 48px;
        font-size: 35px;
        color: #ffffff;
        text-align: center;
        font-weight: 100;
    
        margin: auto;
        margin-top: 200px;
    }
    .subText {
        width: 500px;
        height: 50px;

        line-height: 48px;
        font-size: 25px;
        color: #ffffff;
        text-align: center;
        font-weight: 100;

        margin: auto;

        margin-bottom: 30px;
    }

    /* about Contents */
    .contentsBox {
        width: 1000px;
        height: 1500px;

        background-color: #ffffff;
        margin: auto;
        margin-top: 30px;
        
        /* row Contents */
        .contentsList {
            width: 1000px;
            display: inline-block;
            float: left;

            /* contents Image */
            .contentsImg {
                @include contentsImgORMap;
            }
        }
    }

    /* contents Text */
    .contentsTextBox {
        display: inline-block;

        width: 500px;
        height: 300px;

        float: left;

        overflow-y: hidden;
    
        /* Text */
        .contentsSubTitle {
            width: 500px;
            height: 30px;

            font-size: 15px;
            line-height: 28px;
            text-align: center;
            font-weight: 100;
            overflow-y: hidden;
        }
        .contentsTitle {
            width: 500px;
            height: 50px;

            font-size: 30px;
            line-height: 48px;
            text-align: center;
            font-weight: 600;

            margin-top: 60px;

        }
        .contentsDisc {
            width: 500px;
            height: 120px;

            font-size: 20px;
            line-height: 30px;
            text-align: center;

            margin-top: 10px;
        }
    }
}
